#root {
    margin: 0;
    height: 100vh;
    text-align: center;
}

dialog {
    padding: 12px;
    border: 0;
    border-radius: 2em;
    background-color: #575464;
    color: white;
}

img {
	max-width: 100%;
}

main {
    background-color: #3f3f3f;
    border-radius: 2em;
    margin: 12px 12px 12px 6px;
    overflow-x: hidden;

    flex: 1;
}

nav {
    background-color: #3f3f3f;
    border-radius: 2em;
    margin: 12px 6px 12px 12px;
    width: 80px;

	align-items: center;
}

.nav-icon {
    padding: 8px;
    width: 30px;
    height: 30px;

    & p { line-height: 3rem; }
}

.nav-icon:active {
    background-color: rgb(255,255,255, 5%);
    border-radius: 100vh;
}