#root {
    margin: 0;
    height: 100vh;
    text-align: center;
}

#addform {
    align-items: flex-start;

    & div {
        justify-content: space-between;
        align-items: center;
    }

    & #form-radios { justify-content: flex-end; }

    & #form-genres { align-items: flex-start; }

    & #form-buttons {
        justify-content: center;

        & input { background-color: #00c896; }
        & button { background-color: #e16134; }
        & :active { background-color: white; }
    }
}

#status {
    border-radius: 100vh;
    width: 60px;
    height: 60px;

    display: flex;
}

.bookdisplay {
    border-left: 1px solid rgb(255,255,255, 5%);
    min-width: 50%;
}

.booklist {
    border-right: 1px solid rgb(255,255,255, 5%);
    min-width: 50%;
    overflow-y: auto;
    overflow-x: hidden;
}

.booklistitem {
    min-height: 48px;

    & .bli-title { text-align: left; }
}

.booklistitem:hover {
    background-color: rgb(97,81,102, 25%);
}

.-list {
    & :not(:last-child) {
        border-bottom: 1px solid rgb(255,255,255, 10%);
    }
}

.underline { text-decoration: 2px underline rgba(255,255,255, 25%); }

.nav-icon {
    padding: 8px;
    width: 30px;
    height: 30px;

    & p { line-height: 3rem; }
}

.nav-icon:active {
    background-color: rgb(255,255,255, 5%);
    border-radius: 100vh;
}