@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* { margin: 0; }

:root {
    background-color: #2d2d2d;
}

html, body {
    color: white;
    font-size: 62.5%;
    font-family: Ubuntu;
}

input, button { font-family: Ubuntu; }

input {
    padding: 4px;
    font-size: 1.6rem;
}

.button {
    padding: 6px;
    border: 0;
    border-radius: 100vh;
    font-size: 1.6rem;
    font-weight: bold;
}

.separator-horizontal {
    background-color: rgb(255,255,255, 25%);
    height: 1px;
    width: 100%;
}

.separator-vertical {
    background-color: rgb(255,255,255, 25%);
    width: 1px;
    height: 100%;
}

.text-overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


/* background colors */
.status-read { background-color: #00c896; }
.status-unread { background-color: #e16134; }


/* font sizes */
.fs16 { font-size: 1.6rem; }
.fs20 { font-size: 2rem; }
.fs24 { font-size: 2.4rem; }
.fs32 { font-size: 3.2rem; }


/* gaps */
.gap8 { gap: 8px; }
.gap12 { gap: 12px; }
.gap20 { gap: 20px; }
.gap24 { gap: 24px; }


/* margin */
.margin-auto { margin: auto; }
.margin-bottom24 { margin-bottom: 24px; }
.margin-inline12 { margin-inline: 12px; }
.margin-left4 { margin-left: 4px; }
.margin-top24 { margin-top: 24px; }


/* width */
.w100p { width: 100% }
.maxw80p { max-width: 80%; }


/* flex related */
.center-cross {
    justify-content: flex-start;
    align-items: center;
}

.center-xy {
    align-items: center;
    justify-content: center;
}

.flex-col {
    display: flex;
	flex-direction: column;
}

.flex-row {
    display: flex;
	flex-direction: row;
}